# Dependências
node_modules/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores / IDEs
.vscode/
.idea/
*.swp
*~

# Arquivos temporários
*.tmp
.cache/
dist/
build/
